html {
    scroll-behavior: smooth;
}

body {
    background-color:cornsilk ;
}

label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

div {
    text-align: justify;
    text-justify: inter-word;

}