html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #E8E2DB;
}

.main-content {
    height: 100vh;
    text-align: justify;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 100px 0;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: #E8E2DB;
        display: block;
    }

        .sidenav a:hover {
            color: #808080;
        }

.main {
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 20px 50px 20px 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.expandable {
    font-size: 25px;
    overflow: hidden;
    line-height: 20px;
    transition: all .5s ease-in-out;
    height: 0;
}

    .expandable:target {
        height: 300px;
    }

h2 {
    font-weight: bold;
    font-size: 40px;
}

img {
    align-content: center;
    height: 250px;
    width: auto;
}
