Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: #ff60a6;
    padding: 25px;
    background-color: #ff60a6;
}

.column {
    float: left;
    width: 50%;
}

.LoginButton {
    background-color: black;
    width: 500px;
    color: white;
    padding: 15px;
    margin: 10px 20px;
    border: none;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 80%;
    text-align: center;
    margin: 10px 20px;
    padding: 15px 20px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: #E8E2DB;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
    align-content: center;
}
